<%= turbo_frame_tag dom_id(todo) do %>
  <li>

    <%= form_with url: toggle_todo_path(todo) do |form| %>
      <%= check_box_tag dom_id(todo), true, todo.completed_at?, onchange: "this.form.requestSubmit()" %>
    <% end %>
    

    <%= todo.description %>
    
    <%= link_to "Edit this todo", edit_todo_path(todo) %>
  </li>

<% end %>
