<h1>Todos</h1>

<%= turbo_stream_from "todos" %> 
<%= render partial: "todos/form", locals: {todo: Todo.new } %>

<div id="todos">
  <% @todos.each do |todo| %>
    <%= render todo %>
    You have no todos. <%= link_to "Create your first todo", new_todo_path %>
  <% end %>
</div>

<%= link_to "New todo", new_todo_path %>
